[Desktop Entry]
Version=1.1
Icon=kruciai
Name=ELinks
Comment=The authentic web browser
Type=Application
Exec=elinks %U
Categories=ConsoleOnly;Network;WebBrowser;
StartupNotify=false
NoDisplay=false

#[Desktop Action private]
#Exec=elinks -anonymous 1 %U
#Name=New Private Window